<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>OSM TagFinder</title>
        <link rel="tagfinder icon" href="{{ url_for('static', filename='kv_logo_120.png') }}">
    </head>
    <body>
        <h2>TagFinder:</h2>
        <form action="/search" method="get">
            <input type="text" value="{{fieldvalue}}" name="term">
            <input type="submit" value="Tag-Search">
        </form>
        <p>You searched for: {{ term }}</p>
        <hr/>

        {% for result in results %}
            <a href="{{ result['osmWikiUrl'] }}">{{ result['prefLabel'] }}</a>
            <p><img src="{{ result['image'] }}" alt="{{ result['prefLabel'] }}" style="width:170px;height:130px"></p>
            <p>{{ result['description'] }}</p>
            <hr/>
        {% else %}
            <em>No tags found for: {{ term }}</em>
        <hr/>
        {% endfor %}
    </body>
</html>
