<!DOCTYPE html>
{% extends "base.html" %}
{% set active_page = "api" %}
{% block head %}
    {{super()}}
    <link href="{{ url_for('static', filename='css/api.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    {{super()}}

    {% block bgheader %}
        {{super()}}
    {% endblock %}

    <div id="page_content">
        <div class ="row">
            <div class="col-lg-50 col-md-50">
                <div class="api_container">

                    <!-- german api/search webservice description -->
                    <table class="api_table" lang="de">
                        <tr>
                            <th>Pfad:</th>
                            <td><tt>/api/search</tt></td>
                        </tr>
                        <tr>
                            <th>Beschreibung:</th>
                            <td>Query TagFinder for OpenStreetMap tags.</td>
                        </tr>
                        <tr>
                            <th>Parameter:</th>
                            <td>
                                <span class="param_var"><tt>query</tt></span><span class="param_desc">- Der Suchbegriff vom Typ STRING. (erforderlich)</span><br/>
                                <span class="param_var"><tt>lang</tt></span><span class="param_desc">- Gibt die Sprache des Suchbegriffs an. Wechselt nur die Reihenfolge, in der zuerst nachgeschlagen wird. Sollte entweder de oder en sein. (optional)</span><br/>
                                <span class="param_var"><tt>format</tt></span><span class="param_desc">- Bei Wert json_pretty wird die JSON Rückgabe eingerückt. (optional)</span>
                            </td>
                        </tr>
                        <tr>
                            <th>Bemerkung:</th>
                            <td>Wenn für den Suchbegriff keine Tags gefunden wurden, wird ein leeres ARRAY zurückgegeben. Mit Anführungszeichen um ein Wort kann die Rechtschreibkorrektur und der Übersetzer deaktiviert werden.</td>
                        </tr>
                        <tr>
                            <th>Resultat:</th>
                            <td>
                                <table class="apiresults">
                                    <tr><td><tt>:</tt></td><td>ARRAY MIT HASHES</td><td>Sortierte Liste mit den Resultaten der Suchanfrage.</td></tr>
                                    <tr><td>&emsp;&emsp;<tt>subject:</tt></td><td>STRING</td><td>Weblink zur OpenStreetMap Wiki-Seite des Tags.</td></tr>
                                    <tr><td>&emsp;&emsp;<tt>isKey:</tt></td><td>BOOL</td><td>true falls es sich um einen Schlüssel handelt, false wenn es ein Schlüssel-Werte Paar ist.</td></tr>
                                    <tr><td>&emsp;&emsp;<tt>isTag:</tt></td><td>BOOL</td><td>true falls es ein Schlüssel-Werte Paar ist, false wenn es sich um einen Schlüssel handelt.</td></tr>
                                    <tr><td>&emsp;&emsp;<tt>prefLabel:</tt></td><td>STRING</td><td>Bezeichnung des Tags, im Format:  Schlüssel oder Schlüssel=Wert</td></tr>
                                    <tr><td>&emsp;&emsp;<tt>depiction:</tt></td><td>STRING</td><td>Weblink zu einem Bild, dass den Tag auszeichnet.</td></tr>
                                    <tr><td>&emsp;&emsp;<tt>termRelated:</tt></td><td>ARRAY MIT HASHES</td><td></td></tr>
                                    <tr><td>&emsp;&emsp;&emsp;&emsp;<tt>de:</tt></td><td>ARRAY MIT STRING</td><td>Liste mit englischen, verwandten Begriffen.</td></tr>
                                    <tr><td>&emsp;&emsp;&emsp;&emsp;<tt>en:</tt></td><td>ARRAY MIT STRING</td><td>Liste mit deutschen, verwandten Begriffen.</td></tr>
                                    <tr><td>&emsp;&emsp;<tt>scopeNote:</tt></td><td>ARRAY MIT HASHES</td><td></td></tr>
                                    <tr><td>&emsp;&emsp;&emsp;&emsp;<tt>en:</tt></td><td>STRING</td><td>Englische Kurzbeschreibung.</td></tr>
                                    <tr><td>&emsp;&emsp;&emsp;&emsp;<tt>de:</tt></td><td>STRING</td><td>Deutsche Kurzbeschreibung.</td></tr>
                                    <tr><td>&emsp;&emsp;<tt>countAll:</tt></td><td>INT</td><td>Anzahl Total.</td></tr>
                                    <tr><td>&emsp;&emsp;<tt>node:</tt></td><td>ARRAY MIT HASHES</td><td></td></tr>
                                    <tr><td>&emsp;&emsp;&emsp;&emsp;<tt>count:</tt></td><td>INT</td><td>Anzahl Punkte.</td></tr>
                                    <tr><td>&emsp;&emsp;&emsp;&emsp;<tt>use:</tt></td><td>BOOL</td><td>Soll der Tag Punkten zugeordnet werden?</td></tr>
                                    <tr><td>&emsp;&emsp;<tt>way:</tt></td><td>ARRAY MIT HASHES</td><td></td></tr>
                                    <tr><td>&emsp;&emsp;&emsp;&emsp;<tt>count:</tt></td><td>INT</td><td>Anzahl Wege.</td></tr>
                                    <tr><td>&emsp;&emsp;&emsp;&emsp;<tt>use:</tt></td><td>BOOL</td><td>Soll der Tag Wegen zugeordnet werden?</td></tr>
                                    <tr><td>&emsp;&emsp;<tt>area:</tt></td><td>ARRAY MIT HASHES</td><td></td></tr>
                                    <tr><td>&emsp;&emsp;&emsp;&emsp;<tt>count:</tt></td><td>INT</td><td>Anzahl Flächen.</td></tr>
                                    <tr><td>&emsp;&emsp;&emsp;&emsp;<tt>use:</tt></td><td>BOOL</td><td>Soll der Tag Flächen zugeordnet werden?</td></tr>
                                    <tr><td>&emsp;&emsp;<tt>relation:</tt></td><td>ARRAY MIT HASHES</td><td></td></tr>
                                    <tr><td>&emsp;&emsp;&emsp;&emsp;<tt>count:</tt></td><td>INT</td><td>Anzahl Relationen.</td></tr>
                                    <tr><td>&emsp;&emsp;&emsp;&emsp;<tt>use:</tt></td><td>BOOL</td><td>Soll der Tag Relationen zugeordnet werden?</td></tr>
                                    <tr><td>&emsp;&emsp;<tt>implies:</tt></td><td>ARRAY MIT HASHES</td><td></td></tr>
                                    <tr><td>&emsp;&emsp;&emsp;&emsp;<tt>label:</tt></td><td>STRING</td><td>Bezeichnung des implizierten Tags, im Format: Schlüssel=* oder Schlüssel=Wert.</td></tr>
                                    <tr><td>&emsp;&emsp;&emsp;&emsp;<tt>link:</tt></td><td>STRING</td><td>Weblink zur OpenStreetMap Wiki-Seite des implizierten Tags. Kann null sein.</td></tr>
                                    <tr><td>&emsp;&emsp;<tt>combines:</tt></td><td>ARRAY MIT HASHES</td><td></td></tr>
                                    <tr><td>&emsp;&emsp;&emsp;&emsp;<tt>label:</tt></td><td>STRING</td><td>Bezeichnung des häufig kombinierten Tags, im Format: Schlüssel=* oder Schlüssel=Wert.</td></tr>
                                    <tr><td>&emsp;&emsp;&emsp;&emsp;<tt>link:</tt></td><td>STRING</td><td>Weblink zur OpenStreetMap Wiki-Seite des häufig kombinierten Tags. Kann null sein.</td></tr>
                                    <tr><td>&emsp;&emsp;<tt>links:</tt></td><td>ARRAY MIT HASHES</td><td></td></tr>
                                    <tr><td>&emsp;&emsp;&emsp;&emsp;<tt>label:</tt></td><td>STRING</td><td>Bezeichnung des verlinkten Tags, im Format: Schlüssel=* oder Schlüssel=Wert.</td></tr>
                                    <tr><td>&emsp;&emsp;&emsp;&emsp;<tt>link:</tt></td><td>STRING</td><td>Weblink zur OpenStreetMap Wiki-Seite des verlinkten Tags. Kann null sein.</td></tr>
                                    <tr><td>&emsp;&emsp;<tt>searchMeta:</tt></td><td>ARRAY MIT HASHES</td><td></td></tr>
                                    <tr><td>&emsp;&emsp;&emsp;&emsp;<tt>score:</tt></td><td>INT</td><td>Sortierbarer Trefferscore, berechnet nach einer Okapi BM25f Variante.</td></tr>
                                    <tr><td>&emsp;&emsp;&emsp;&emsp;<tt>&lt;field&gt;:</tt></td><td>ARRAY MIT STRINGS</td><td>Liste mit gefundenen Begriffen.&lt;field&gt; ist entweder 'tagPrefLabel', 'termPrefLabel', 'termAltLabel', 'termBroader', 'termNarrower' oder 'tagScopeNote'.</td></tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <th>Beispiel:</th>
                            <td><a rel="nofollow" href="/api/search?query=zoo&amp;format=json_pretty&amp;lang=de" target="_blank">/api/search?query=Zoo&amp;format=json_pretty&amp;lang=de</a></td>
                        </tr>
                        <tr>
                            <th title="User interface page where this API is used">UI Beispiel:</th>
                            <td><a href="/search?query=zoo" target="_blank">/search?query=zoo</a></td>
                        </tr>
                    </table>

                    <!-- english api/search webservice description -->
                    <table class="api_table" lang="en">
                        <tr>
                            <th>Path:</th>
                            <td><tt>/api/search</tt></td>
                        </tr>
                        <tr>
                            <th>Description:</th>
                            <td>Query TagFinder for OpenStreetMap tags.</td>
                        </tr>
                        <tr>
                            <th>Parameters:</th>
                            <td>
                                <span class="param_var"><tt>query</tt></span><span class="param_desc">- Search query of type STRING. (required)</span><br/>
                                <span class="param_var"><tt>lang</tt></span><span class="param_desc">- Defines language of the search term. Only changes lookup order. Should be either en or de. (optional)</span><br/>
                                <span class="param_var"><tt>format</tt></span><span class="param_desc">- With value json_pretty the JSON output gets pretty-printed. (optional)</span>
                            </td>
                        </tr>
                        <tr>
                            <th>Notes:</th>
                            <td>If no Tags were found for the search query, an empty ARRAY is returned. Using quotation marks around terms turns off the spell correction and the translator.</td>
                        </tr>
                        <tr>
                            <th>Result:</th>
                            <td>
                                <table class="apiresults">
                                    <tr><td><tt>:</tt></td><td>ARRAY OF HASHES</td><td>Sorted list containing the results of this query.</td></tr>
                                    <tr><td>&emsp;&emsp;<tt>subject:</tt></td><td>STRING</td><td>Weblink to the OpenStreetMap Wiki of this tag.</td></tr>
                                    <tr><td>&emsp;&emsp;<tt>isKey:</tt></td><td>BOOL</td><td>true if its a key, false if its a key-value pair.</td></tr>
                                    <tr><td>&emsp;&emsp;<tt>isTag:</tt></td><td>BOOL</td><td>true if its a key-value pair, false if its a key.</td></tr>
                                    <tr><td>&emsp;&emsp;<tt>prefLabel:</tt></td><td>STRING</td><td>Label of the tag: key or key=value</td></tr>
                                    <tr><td>&emsp;&emsp;<tt>depiction:</tt></td><td>STRING</td><td>Weblink to the image denoting this tag.</td></tr>
                                    <tr><td>&emsp;&emsp;<tt>termRelated:</tt></td><td>ARRAY OF HASHES</td><td></td></tr>
                                    <tr><td>&emsp;&emsp;&emsp;&emsp;<tt>de:</tt></td><td>ARRAY OF STRING</td><td>List of English related terms.</td></tr>
                                    <tr><td>&emsp;&emsp;&emsp;&emsp;<tt>en:</tt></td><td>ARRAY OF STRING</td><td>List of German related terms.</td></tr>
                                    <tr><td>&emsp;&emsp;<tt>scopeNote:</tt></td><td>ARRAY OF HASHES</td><td></td></tr>
                                    <tr><td>&emsp;&emsp;&emsp;&emsp;<tt>en:</tt></td><td>STRING</td><td>Short description in English.</td></tr>
                                    <tr><td>&emsp;&emsp;&emsp;&emsp;<tt>de:</tt></td><td>STRING</td><td>Short description in German.</td></tr>
                                    <tr><td>&emsp;&emsp;<tt>countAll:</tt></td><td>INT</td><td>Total count.</td></tr>
                                    <tr><td>&emsp;&emsp;<tt>node:</tt></td><td>ARRAY OF HASHES</td><td></td></tr>
                                    <tr><td>&emsp;&emsp;&emsp;&emsp;<tt>count:</tt></td><td>INT</td><td>Count of nodes.</td></tr>
                                    <tr><td>&emsp;&emsp;&emsp;&emsp;<tt>use:</tt></td><td>BOOL</td><td>Is node-use encouraged?</td></tr>
                                    <tr><td>&emsp;&emsp;<tt>way:</tt></td><td>ARRAY OF HASHES</td><td></td></tr>
                                    <tr><td>&emsp;&emsp;&emsp;&emsp;<tt>count:</tt></td><td>INT</td><td>Count of ways.</td></tr>
                                    <tr><td>&emsp;&emsp;&emsp;&emsp;<tt>use:</tt></td><td>BOOL</td><td>Is way-use encouraged?</td></tr>
                                    <tr><td>&emsp;&emsp;<tt>area:</tt></td><td>ARRAY OF HASHES</td><td></td></tr>
                                    <tr><td>&emsp;&emsp;&emsp;&emsp;<tt>count:</tt></td><td>INT</td><td>Count of areas.</td></tr>
                                    <tr><td>&emsp;&emsp;&emsp;&emsp;<tt>use:</tt></td><td>BOOL</td><td>Is area-use encouraged?</td></tr>
                                    <tr><td>&emsp;&emsp;<tt>relation:</tt></td><td>ARRAY OF HASHES</td><td></td></tr>
                                    <tr><td>&emsp;&emsp;&emsp;&emsp;<tt>count:</tt></td><td>INT</td><td>Count of relations.</td></tr>
                                    <tr><td>&emsp;&emsp;&emsp;&emsp;<tt>use:</tt></td><td>BOOL</td><td>Is relation-use encouraged?</td></tr>
                                    <tr><td>&emsp;&emsp;<tt>implies:</tt></td><td>ARRAY OF HASHES</td><td></td></tr>
                                    <tr><td>&emsp;&emsp;&emsp;&emsp;<tt>label:</tt></td><td>STRING</td><td>Label of the implied tag, key=* or key=value.</td></tr>
                                    <tr><td>&emsp;&emsp;&emsp;&emsp;<tt>link:</tt></td><td>STRING</td><td>Weblink to the OpenStreetMap Wiki of this implied tag. Can be null.</td></tr>
                                    <tr><td>&emsp;&emsp;<tt>combines:</tt></td><td>ARRAY OF HASHES</td><td></td></tr>
                                    <tr><td>&emsp;&emsp;&emsp;&emsp;<tt>label:</tt></td><td>STRING</td><td>Label of the combined tag, key=* or key=value.</td></tr>
                                    <tr><td>&emsp;&emsp;&emsp;&emsp;<tt>link:</tt></td><td>STRING</td><td>Weblink to the OpenStreetMap Wiki of this combined tag. Can be null.</td></tr>
                                    <tr><td>&emsp;&emsp;<tt>links:</tt></td><td>ARRAY OF HASHES</td><td></td></tr>
                                    <tr><td>&emsp;&emsp;&emsp;&emsp;<tt>label:</tt></td><td>STRING</td><td>Label of the linked tag, key=* or key=value.</td></tr>
                                    <tr><td>&emsp;&emsp;&emsp;&emsp;<tt>link:</tt></td><td>STRING</td><td>Weblink to the OpenStreetMap Wiki of this linked tag. Can be null.</td></tr>
                                    <tr><td>&emsp;&emsp;<tt>searchMeta:</tt></td><td>ARRAY OF HASHES</td><td></td></tr>
                                    <tr><td>&emsp;&emsp;&emsp;&emsp;<tt>score:</tt></td><td>INT</td><td>Sortable hit score, Okapi BM25f variant.</td></tr>
                                    <tr><td>&emsp;&emsp;&emsp;&emsp;<tt>&lt;field&gt;:</tt></td><td>ARRAY OF STRINGS</td><td>List of hit terms.&lt;field&gt; can be one of 'tagPrefLabel', 'termPrefLabel', 'termAltLabel', 'termBroader', 'termNarrower' or 'tagScopeNote'.</td></tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <th>Example:</th>
                            <td><a rel="nofollow" href="/api/search?query=zoo&amp;format=json_pretty&amp;lang=de" target="_blank">/api/search?query=Zoo&amp;format=json_pretty&amp;lang=de</a></td>
                        </tr>
                        <tr>
                            <th title="User interface page where this API is used">UI Example:</th>
                            <td><a href="/search?query=zoo" target="_blank">/search?query=zoo</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}