<!DOCTYPE html>
{% extends "base.html" %}
{% block head %}
    {{super()}}
    <link href="{{ url_for('static', filename='css/search.css') }}" rel="stylesheet">
{% endblock %}

{% block scripts %}
    {{super()}}
{% endblock %}

{% block content %}
    {{super()}}
    <div class="container">

        <div class="jumbotron">
            <h3>Tag Finder</h3>
            <p></p>
            <form action="/search" method="get"> <!-- searchbar -->
                <div class="input-group input-group-lg">
                    <input type="text" value="{{ q }}" name="q" class="form-control" >
                    <span class="input-group-btn">
                        <button id="button-lg-en" class="btn btn-success btn-lg" type="submit" lang="en">Search</button>
                        <button id="button-lg-de" class="btn btn-success btn-lg" type="submit" lang="de">Suchen</button>
                    </span>
                </div>
            </form>

        </div>

        <!-- searchresults / content -->
        {% if results %}
            <h5 lang="en" class="found">Found <b>{{ results|count }}</b> OpenStreetMap tags.</h5>
            <h5 lang="de" class="found">Es wurden <b>{{ results|count }}</b> OpenStreetMap Tags gefunden.</h5>
            {% for result in results %}
                <!--<hr>-->
                <div class ="row">
                    <div class="col-lg-50 col-md-50">
                        <div class="search_result">
                            <div class="col-lg-55 col-md-55">

                                <div class="depic_stats">
                                    <!-- depictions -->
                                    {% if result['depiction'] is none %}
                                        {% if result['isTag'] %}
                                            <a id="no_depiction_tag" class="thumbnail">
                                                <p><img class="image" src="{{ url_for('static', filename='img/kv200_150_gray.png') }}" alt="{{ result['prefLabel'] }}" width="200" height="150"></p>
                                            </a>
                                        {% else %}
                                            <a id="no_depiction_key" class="thumbnail">
                                                <p><img  class="image" src="{{ url_for('static', filename='img/k200_150_gray.png') }}" alt="{{ result['prefLabel'] }}" width="200" height="150"></p>
                                            </a>
                                        {% endif %}
                                    {% else %}
                                        <a id="depiction" target="_tag" href="{{ result['depiction'] }}" class="thumbnail">
                                            <p><img class="image" src="{{ result['depiction'] }}" alt="{{ result['prefLabel'] }}" align="left" width="200" height="150"></p>
                                        </a>
                                    {% endif %}

                                    <!-- tagstats -->
                                    {% if result['isTag'] %}
                                        {% set taginfo_baseurl = "https://taginfo.openstreetmap.org/tags/" %}
                                        {% set srcNode =     ["static/img/osm_node_", result['node']['use']|lower, ".png"]|join %}
                                        {% set srcWay =      ["static/img/osm_way_", result['way']['use']|lower, ".png"]|join %}
                                        {% set srcArea =     ["static/img/osm_area_", result['area']['use']|lower, ".png"]|join %}
                                        {% set srcRelation = ["static/img/osm_relation_", result['relation']['use']|lower, ".png"]|join %}
                                    {% else %}
                                        {% set taginfo_baseurl = "https://taginfo.openstreetmap.org/keys/" %}
                                        {% set srcNode =     "static/img/osm_node_unspec.png" %}
                                        {% set srcWay =      "static/img/osm_way_unspec.png" %}
                                        {% set srcArea =     "static/img/osm_area_unspec.png" %}
                                        {% set srcRelation = "static/img/osm_relation_unspec.png" %}
                                    {% endif %}

                                    <a id="tagstats_box" target="_tag" href="{{ taginfo_baseurl}}{{ result['prefLabel'] }}" class="thumbnail">
                                         <table>
                                            <tr>
                                                <td title="all"><img src="{{ url_for('static', filename='img/osm_count_all_v2.png') }}" alt="Node" align="left" width="30" height="30"></td>
                                                <td></td>
                                                <td title="total count">{{ result['countAll'] }}</td>
                                            </tr>
                                            <tr>
                                                <td title="may be used on nodes"><img src="{{ srcNode }}" alt="Node" align="left" width="30" height="30"></td>
                                                <td></td>
                                                <td title="count nodes">{{ result['node']['count'] }}</td>
                                            </tr>
                                           <tr>
                                                <td title="may be used on relations"><img src="{{ srcRelation }}" alt="Node" align="left" width="30" height="30"></td>
                                                <td></td>
                                                <td title="count relations">{{ result['relation']['count'] }}</td>
                                            </tr>
                                             <tr>
                                                <td title="may be used on ways"><img src="{{ srcWay }}" alt="Node" align="left" width="30" height="30"></td>
                                                <td title="may be used on areas"><img src="{{ srcArea }}" alt="Node" align="left" width="30" height="30"></td>
                                                <td title="count ways and areas">{{ result['way']['count'] }}</td>
                                            </tr>
                                        </table>
                                    </a>
                                </div>

                            </div>

                            <!-- maintag label -->
                            {% if result['isTag'] %}
                                <h3><a target="_tag" href="{{ result['subject'] }}">{{ result['prefLabel'] }}</a></h3>
                            {% else %}
                                <h3><a target="_tag" href="{{ result['subject'] }}">{{ result['prefLabel'] }}=✱</a></h3> <!--✱✲-->
                            {% endif %}

                            {% set no_element_en = '-' %}
                            {% set no_element_de = '-' %}

                            <!-- searchmeta -->
                            {% if result['searchMeta'] %}
                                <p class="meta_first_column" lang="en">Searchmeta:</p>
                                <p class="meta_first_column" lang="de">Suchmeta:</p>
                                {% set score = result['searchMeta']['score'] %}
                                {% set searchMetasEN = 'Score: ' ~ score|round(2, 'floor') %} <!-- ~ converts to string in jinja2 and concatenates -->
                                {% set searchMetasDE = 'Score: ' ~ score|round(2, 'floor') %}
                                {% set searchMetasEN = searchMetasEN + '  ' %}
                                {% set searchMetasDE = searchMetasDE + '  ' %}
                                {% if result['searchMeta']['termPrefLabel']|count > 0 %}
                                    {% set metasTermPrefLabel = result['searchMeta']['termPrefLabel']|join(", ") %}
                                    {% set searchMetasEN = searchMetasEN + ' / main term: ' ~ metasTermPrefLabel %}
                                    {% set searchMetasDE = searchMetasDE + ' / Hauptbegriff: ' ~ metasTermPrefLabel %}
                                {% endif %}
                                {% if result['searchMeta']['termAltLabel']|count > 0 %}
                                    {% set metasTermRelated = result['searchMeta']['termAltLabel']|join(", ") %}
                                    {% set searchMetasEN = searchMetasEN + ' / related term: ' ~ metasTermRelated %}
                                    {% set searchMetasDE = searchMetasDE + ' / verwandter Begriff: ' ~ metasTermRelated %}
                                {% endif %}
                                {% if result['searchMeta']['tagPrefLabel']|count > 0 %}
                                    {% set metasPrefLabel = result['searchMeta']['tagPrefLabel']|join(", ") %}
                                    {% set searchMetasEN = searchMetasEN + ' / tag name: ' ~ metasPrefLabel %}
                                    {% set searchMetasDE = searchMetasDE + ' / Tagname: ' ~ metasPrefLabel %}
                                {% endif %}
                                {% if result['searchMeta']['tagScopeNote']|count > 0 %}
                                    {% set metasScopeNote = result['searchMeta']['tagScopeNote']|join(", ") %}
                                    {% set searchMetasEN = searchMetasEN + ' / description: ' ~ metasScopeNote %}
                                    {% set searchMetasDE = searchMetasDE + ' / Beschreibung: ' ~ metasScopeNote %}
                                {% endif %}
                                <p class="meta_second_column" lang="en">{{ searchMetasEN }}</p>
                                <p class="meta_second_column" lang="de">{{ searchMetasDE }}</p>
                            {% endif %}

                            <!-- related term logic -->
                            {%- if result['relatedTerm']['en']|count > 0 -%}
                                {% set relTermList_en = result['relatedTerm']['en']|join(", ") %}
                            {%- else -%}
                                {% set relTermList_en = no_element_en %}
                            {%- endif -%}
                            {%- if result['relatedTerm']['de']|count > 0 -%}
                                {% set relTermList_de = result['relatedTerm']['de']|join(", ") %}
                            {%- else -%}
                                {% set relTermList_de = no_element_de %}
                            {%- endif -%}

                            <!-- description logic -->
                            {% if result['scopeNote']['en']|count > 0 %}
                                {% set scopeNote_en = result['scopeNote']['en'] %}
                            {% else %}
                                {% set scopeNote_en = no_element_en %}
                            {% endif %}
                            {% if result['scopeNote']['de']|count > 0 %}
                                {% set scopeNote_de = result['scopeNote']['de'] %}
                            {% else %}
                                {% set scopeNote_de = no_element_de %}
                            {% endif %}

                            <!-- link list macro -->
                            {%- macro listlinks(linkLabelList, no_element_en, no_element_de, separator=", ") -%}
                                {%- if linkLabelList|count > 0 -%}
                                    {%- for linkLabel in linkLabelList -%}
                                        {%- if linkLabel['link'] is none -%}
                                            {{ linkLabel['label'] }}
                                        {%- else -%}
                                            <a class="osm_links" target="_tag" href="{{ linkLabel['link'] }}">{{ linkLabel['label'] }}</a>
                                        {%- endif %}
                                        {%- if not loop.last -%}{{ separator }}&shy;{%- endif -%}
                                    {%- endfor %}
                                {%- else -%}
                                    <div lang ="en">{{ no_element_en }}</div>
                                    <div lang ="de">{{ no_element_de }}</div>
                                {%- endif -%}
                            {%- endmacro -%}

                            <!-- related terms -->
                            <p class="first_column" lang="en">Related terms:</p>
                            <p class="first_column" lang="de">Verwandte Begriffe:</p>
                            <p class="second_column" lang="en">{{ relTermList_en }}</p>
                            <p class="second_column" lang="de">{{ relTermList_de }}</p>

                            <!-- description -->
                            <p class="first_column" lang="en">Description:</p>
                            <p class="first_column" lang="de">Beschreibung:</p>
                            <p class="second_column" lang="en">{{ scopeNote_en }}</p>
                            <p class="second_column" lang="de">{{ scopeNote_de }}</p>

                            <!-- implied tags -->
                            <p class="first_column" lang="en">Implies:</p>
                            <p class="first_column" lang="de">Impliziert:</p>
                            <p class="second_column">{{ listlinks(result['implies'], no_element_en, no_element_de ) }}</p>

                            <!-- combined tags -->
                            <p class="first_column" lang="en">Combined with:</p>
                            <p class="first_column" lang="de">Kombiniert mit:</p>
                            <p class="second_column">{{ listlinks(result['combines'], no_element_en, no_element_de ) }}</p>

                            <!-- linked tags -->
                            <p class="first_column" lang="en">Weblinks in wiki:</p>
                            <p class="first_column" lang="de">Weblinks im Wiki:</p>
                            <p class="second_column">{{ listlinks(result['links'], no_element_en, no_element_de ) }}</p>

                        </div>
                    </div>
                 </div>
            {% endfor %}

        {% elif q %} <!-- None found or no search (if q is None) -->
            <h5 lang="en" class="none_found">Your search - <b>{{ q }}</b> - did not match any OpenStreetMap tags. </h5>
            <h5 lang="de" class="none_found">Es wurden keine mit Ihrer Suchanfrage - <b>{{ q }}</b> - übereinstimmende OpenStreetMap Tags gefunden.</h5>
            <h5 lang="en" class="suggestion_header">Suggestions:</h5>
            <h5 lang="de" class="suggestion_header">Vorschläge:</h5>
            <ul id="suggestion_list">
                <li lang="en">Make sure that all words are spelled correctly.</li>
                <li lang="en">Try different keywords.</li>
                <li lang="en">Try more general keywords.</li>
                <li lang="de">Achten Sie darauf, dass alle Wörter richtig geschrieben sind.</li>
                <li lang="de">Probieren Sie es mit anderen Suchbegriffen.</li>
                <li lang="de">Probieren Sie es mit allgemeineren Suchbegriffen.</li>
            </ul>
        {% endif %}
    </div>
{% endblock %}
