<!DOCTYPE html>
{% extends "base.html" %}
{% set active_page = "search" %}
{% block head %}
    {{super()}}
    <link href="{{ url_for('static', filename='css/search.css') }}" rel="stylesheet">
{% endblock %}

{% block scripts %}
    {{super()}}
    <script src="{{ url_for('static', filename='js/highlight.js') }}"></script>
{% endblock %}



{% block content %}
    {{super()}}

    {% block bgheader %}
        {{super()}}
    {% endblock %}

    <div id="page-content">

        <div id="jumbotron_search" class="jumbotron">
            <form class="main_search_form" action="/search" method="get" name="search_form"> <!-- searchbar en -->
                <div id="main_search_ingroup_en" class="input-group input-group-lg" lang="en">
                    <input type="search" value="{{ query }}" name="query" class="form-control" id="mainsearch_en" autocomplete="off" data-provide="typeahead" placeholder="Search Tags...">
                    <span class="input-group-btn">
                        <button id="btn_main_search_en" class="btn btn-success" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </span>
                </div>
            </form>

            <form class="main_search_form" action="/search" method="get" name="search_form"> <!-- searchbar de -->
                <div id="main_search_ingroup_de" class="input-group input-group-lg" lang="de">
                    <input type="search" value="{{ query }}" name="query" class="form-control" id="mainsearch_de" autocomplete="off" data-provide="typeahead" placeholder="Nach Tags suchen...">
                    <span class="input-group-btn">
                        <button id="btn_main_search_de" class="btn btn-success" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </span>
                </div>
            </form>

        </div>

        <!-- searchresults / content -->
        {% if results %}
            <h5 lang="en" class="found">Found <b>{{ results|count }}</b> OpenStreetMap tag(s).</h5>
            <h5 lang="de" class="found">Es wurde(n) <b>{{ results|count }}</b> OpenStreetMap Tag(s) gefunden.</h5>
            {% for result in results %}


                {% set currentIndex = loop.index %} <!-- 1 indexed, use loop.index0 to start indexing at 0 -->

                <!--<hr>-->
                <div class ="row">
                    <div class="col-lg-50 col-md-50">
                        <div class="search_result">
                            <div class="col-lg-55 col-md-55">

                                <div class="depic_stats">
                                    <!-- depictions -->
                                    {% if result['depiction'] is none %}
                                        {% if result['isTag'] %}
                                            <a id="no_depiction_tag" class="thumbnail">
                                                <p><img class="image" src="{{ url_for('static', filename='img/kv200_150_gray.png') }}" alt="{{ result['prefLabel'] }}" width="200" height="150"></p>
                                            </a>
                                        {% else %}
                                            <a id="no_depiction_key" class="thumbnail">
                                                <p><img  class="image" src="{{ url_for('static', filename='img/k200_150_gray.png') }}" alt="{{ result['prefLabel'] }}" width="200" height="150"></p>
                                            </a>
                                        {% endif %}
                                    {% else %}
                                        <a id="depiction" target="_tag" href="{{ result['depiction'] }}" class="thumbnail">
                                            <p><img class="image" src="{{ result['depiction'] }}" alt="{{ result['prefLabel'] }}" title="{{ result['depiction'] }}" align="left" width="200" height="150"></p>
                                        </a>
                                    {% endif %}

                                    <!-- tagstats -->
                                    {% if result['isTag'] %}
                                        {% set taginfo_baseurl = "https://taginfo.openstreetmap.org/tags/" %}
                                        {% set srcNode =     ["static/img/osm_node_", result['node']['use']|lower, ".png"]|join %}
                                        {% set srcWay =      ["static/img/osm_way_", result['way']['use']|lower, ".png"]|join %}
                                        {% set srcArea =     ["static/img/osm_area_", result['area']['use']|lower, ".png"]|join %}
                                        {% set srcRelation = ["static/img/osm_relation_", result['relation']['use']|lower, ".png"]|join %}
                                    {% else %}
                                        {% set taginfo_baseurl = "https://taginfo.openstreetmap.org/keys/" %}
                                        {% set srcNode =     "static/img/osm_node_unspec.png" %}
                                        {% set srcWay =      "static/img/osm_way_unspec.png" %}
                                        {% set srcArea =     "static/img/osm_area_unspec.png" %}
                                        {% set srcRelation = "static/img/osm_relation_unspec.png" %}
                                    {% endif %}

                                    <a id="tagstats_box" target="_tag" href="{{ taginfo_baseurl }}{{ result['prefLabel'] }}" title="{{ taginfo_baseurl }}{{ result['prefLabel'] }}" class="thumbnail">
                                         <table>
                                            <tr>
                                                <td title="all"><img src="{{ url_for('static', filename='img/osm_count_all_v2.png') }}" alt="Node" align="left" width="30" height="30"></td>
                                                <td></td>
                                                <td title="total count">{{ result['countAll'] }}</td>
                                            </tr>
                                            <tr>
                                                <td title="use on nodes"><img src="{{ srcNode }}" alt="Node" align="left" width="30" height="30"></td>
                                                <td></td>
                                                <td title="count nodes">{{ result['node']['count'] }}</td>
                                            </tr>
                                           <tr>
                                                <td title="use on relations"><img src="{{ srcRelation }}" alt="Node" align="left" width="30" height="30"></td>
                                                <td></td>
                                                <td title="count relations">{{ result['relation']['count'] }}</td>
                                            </tr>
                                             <tr>
                                                <td title="use on ways"><img src="{{ srcWay }}" alt="Node" align="left" width="30" height="30"></td>
                                                <td title="use on areas"><img src="{{ srcArea }}" alt="Node" align="left" width="30" height="30"></td>
                                                <td title="count ways and areas">{{ result['way']['count'] }}</td>
                                            </tr>
                                        </table>
                                    </a>
                                </div>

                            </div>

                            <!-- maintag label -->
                            {% if result['isTag'] %}
                                {% set tempLink = result['subject'].split('=')[0] %}
                                {% set keyPartLink = tempLink.replace('Tag:','Key:') %}
                                {% set tempLabel = keyPartLink.split('Key:')[1] %}
                                {% set keyPartLabel = tempLabel.split('=')[0] %}
                                {% set tagPartLabel = result['subject'].split('=')[1] %}
                                <h3>
                                    <a id="keyPartLabel_{{ currentIndex }}" target="_tag" href="{{ keyPartLink }}" title="{{ keyPartLink }}">{{ keyPartLabel }}=</a><a id="tagLabel_{{ currentIndex }}" target="_tag" href="{{ result['subject'] }}" title="{{ result['subject'] }}">{{ tagPartLabel }}</a>
                                </h3>
                            {% else %}
                                <h3><a id="keyLabel_{{ currentIndex }}" target="_tag" href="{{ result['subject'] }}" title="{{ result['subject'] }}">{{ result['prefLabel'] }}=✱</a></h3> <!--✱✲-->
                            {% endif %}

                            {% set no_element_en = '-' %}
                            {% set no_element_de = '-' %}

                            <!-- related term logic -->
                            {%- if result['termRelated']['en']|count > 0 -%}
                                {% set relTermList_en = result['termRelated']['en']|join(", ") %}
                            {%- else -%}
                                {% set relTermList_en = no_element_en %}
                            {%- endif -%}
                            {%- if result['termRelated']['de']|count > 0 -%}
                                {% set relTermList_de = result['termRelated']['de']|join(", ") %}
                            {%- else -%}
                                {% set relTermList_de = no_element_de %}
                            {%- endif -%}

                            <!-- description logic -->
                            {% if result['scopeNote']['en']|count > 0 %}
                                {% set scopeNote_en = result['scopeNote']['en'] %}
                            {% else %}
                                {% set scopeNote_en = no_element_en %}
                            {% endif %}
                            {% if result['scopeNote']['de']|count > 0 %}
                                {% set scopeNote_de = result['scopeNote']['de'] %}
                            {% else %}
                                {% set scopeNote_de = no_element_de %}
                            {% endif %}

                            <!-- link list macro -->
                            {%- macro listlinks(linkLabelList, no_element_en, no_element_de, separator=", ") -%}
                                {%- if linkLabelList|count > 0 -%}
                                    {%- for linkLabel in linkLabelList -%}
                                        {%- if linkLabel['link'] is none -%}
                                            {{ linkLabel['label'] }}
                                        {%- else -%}
                                            <a class="osm_links" target="_tag" href="{{ linkLabel['link'] }}">{{ linkLabel['label'] }}</a>
                                        {%- endif %}
                                        {%- if not loop.last -%}{{ separator }}&shy;{%- endif -%}
                                    {%- endfor %}
                                {%- else -%}
                                    <div lang ="en">{{ no_element_en }}</div>
                                    <div lang ="de">{{ no_element_de }}</div>
                                {%- endif -%}
                            {%- endmacro -%}

                            <!-- description -->
                            <p class="first_column" lang="en">Description:</p>
                            <p class="first_column" lang="de">Beschreibung:</p>
                            <p class="second_column" id="descriptionEN_{{ currentIndex }}" lang="en">{{ scopeNote_en }}</p>
                            <p class="second_column" id="descriptionDE_{{ currentIndex }}" lang="de">{{ scopeNote_de }}</p>

                            <!-- implied tags -->
                            <p class="first_column" lang="en">Implies:</p>
                            <p class="first_column" lang="de">Impliziert:</p>
                            <p class="second_column" id="implies_{{ currentIndex }}">{{ listlinks(result['implies'], no_element_en, no_element_de ) }}</p>

                            <!-- combined tags -->
                            <p class="first_column" lang="en">Combined with:</p>
                            <p class="first_column" lang="de">Kombiniert mit:</p>
                            <p class="second_column" id="combines_{{ currentIndex }}">{{ listlinks(result['combines'], no_element_en, no_element_de ) }}</p>

                            <!-- linked tags -->
                            <p class="first_column" lang="en">Weblinks in wiki:</p>
                            <p class="first_column" lang="de">Weblinks im Wiki:</p>
                            <p class="second_column" id="linked_{{ currentIndex }}">{{ listlinks(result['links'], no_element_en, no_element_de ) }}</p>

                            <!-- related terms -->
                            <p class="first_column" lang="en">Related terms:</p>
                            <p class="first_column" lang="de">Verwandte Begriffe:</p>
                            <p class="second_column" id="relTermsEN_{{ currentIndex }}" lang="en">{{ relTermList_en }}</p>
                            <p class="second_column" id="relTermsDE_{{ currentIndex }}" lang="de">{{ relTermList_de }}</p>

                            <!-- searchmeta and highlighting -->
                            <!-- ~ converts to string in jinja2 and concatenates -->
                            {% if result['searchMeta'] %}
                                <p class="meta_first_column" lang="en">Search infos:</p>
                                <p class="meta_first_column" lang="de">Such-Infos:</p>
                                {% set score = result['searchMeta']['score'] %}
                                {% set searchMetasEN = 'Score: ' ~ score|round(2, 'floor') %}
                                {% set searchMetasDE = 'Score: ' ~ score|round(2, 'floor') %}
                                {% set searchMetasEN = searchMetasEN + '  ' %}
                                {% set searchMetasDE = searchMetasDE + '  ' %}
                                {% if result['searchMeta']['termPrefLabel']|count > 0 %}
                                    {% set metasTermPrefLabel = result['searchMeta']['termPrefLabel']|join(", ") %}
                                    {% set searchMetasEN = searchMetasEN + ' / main term: ' ~ metasTermPrefLabel %}
                                    {% set searchMetasDE = searchMetasDE + ' / Hauptbegriff: ' ~ metasTermPrefLabel %}
                                    {% for termPrefLabel in result['searchMeta']['termPrefLabel'] %}
                                        <script src="{{ url_for('static', filename='js/highlight.js') }}"></script>
                                        <script type="text/javascript">
                                            highlight(document.getElementById('relTermsEN_{{ currentIndex }}'), '{{ termPrefLabel }}')
                                            highlight(document.getElementById('relTermsDE_{{ currentIndex }}'), '{{ termPrefLabel }}')
                                        </script>
                                    {% endfor %}
                                {% endif %}
                                {% if result['searchMeta']['termAltLabel']|count > 0 %}
                                    {% set metasTermAltLabel = result['searchMeta']['termAltLabel']|join(", ") %}
                                    {% set searchMetasEN = searchMetasEN + ' / related term: ' ~ metasTermAltLabel %}
                                    {% set searchMetasDE = searchMetasDE + ' / Verwandter Begriff: ' ~ metasTermAltLabel %}
                                    {% for termAltLabel in result['searchMeta']['termAltLabel'] %}
                                        <script src="{{ url_for('static', filename='js/highlight.js') }}"></script>
                                        <script type="text/javascript">
                                            highlight(document.getElementById('relTermsEN_{{ currentIndex }}'), '{{ termAltLabel }}')
                                            highlight(document.getElementById('relTermsDE_{{ currentIndex }}'), '{{ termAltLabel }}')
                                        </script>
                                    {% endfor %}
                                {% endif %}
                                {% if result['searchMeta']['tagPrefLabel']|count > 0 %}
                                    {% set metasTagPrefLabel = result['searchMeta']['tagPrefLabel']|join(", ") %}
                                    {% set searchMetasEN = searchMetasEN + ' / tag: ' ~ metasTagPrefLabel %}
                                    {% set searchMetasDE = searchMetasDE + ' / Tag: ' ~ metasTagPrefLabel %}
                                    {% for tagPrefLabel in result['searchMeta']['tagPrefLabel'] %}
                                        {% if result['isTag'] %}
                                            <script src="{{ url_for('static', filename='js/highlight.js') }}"></script>
                                            <script type="text/javascript">
                                                highlight(document.getElementById('keyPartLabel_{{ currentIndex }}'), '{{ tagPrefLabel }}', true)
                                                highlight(document.getElementById('tagLabel_{{ currentIndex }}'), '{{ tagPrefLabel }}', true)
                                            </script>
                                        {% else %}
                                            <script src="{{ url_for('static', filename='js/highlight.js') }}"></script>
                                            <script type="text/javascript">
                                                highlight(document.getElementById('keyLabel_{{ currentIndex }}'), '{{ tagPrefLabel }}', true)
                                            </script>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                {% if result['searchMeta']['termBroader']|count > 0 %}
                                    {% set metasTermBroader = result['searchMeta']['termBroader']|join(", ") %}
                                    {% set searchMetasEN = searchMetasEN + ' / broader term: ' ~ metasTermBroader %}
                                    {% set searchMetasDE = searchMetasDE + ' / Oberbegriff: ' ~ metasTermBroader %}
                                <!--{% for termBroader in result['searchMeta']['termBroader'] %}
                                        <script src="{{ url_for('static', filename='js/highlight.js') }}"></script>
                                        <script type="text/javascript">
                                            highlight(document.getElementById('broaderTermsEN_{{ currentIndex }}'), '{{ termBroader }}')
                                            highlight(document.getElementById('broaderTermsDE_{{ currentIndex }}'), '{{ termBroader }}')
                                        </script>
                                    {% endfor %}-->
                                {% endif %}
                                {% if result['searchMeta']['termNarrower']|count > 0 %}
                                    {% set metasTermNarrower = result['searchMeta']['termNarrower']|join(", ") %}
                                    {% set searchMetasEN = searchMetasEN + ' / narrower term: ' ~ metasTermNarrower %}
                                    {% set searchMetasDE = searchMetasDE + ' / Unterbegriff: ' ~ metasTermNarrower %}
                                <!--{% for termNarrower in result['searchMeta']['termNarrower'] %}
                                        <script src="{{ url_for('static', filename='js/highlight.js') }}"></script>
                                        <script type="text/javascript">
                                            highlight(document.getElementById('broaderTermsEN_{{ currentIndex }}'), '{{ termNarrower }}')
                                            highlight(document.getElementById('broaderTermsDE_{{ currentIndex }}'), '{{ termNarrower }}')
                                        </script>
                                    {% endfor %}-->
                                {% endif %}
                                {% if result['searchMeta']['tagScopeNote']|count > 0 %}
                                    {% set metasScopeNote = result['searchMeta']['tagScopeNote']|join(", ") %}
                                    {% set searchMetasEN = searchMetasEN + ' / description: ' ~ metasScopeNote %}
                                    {% set searchMetasDE = searchMetasDE + ' / Beschreibung: ' ~ metasScopeNote %}
                                    {% for scopeNote in result['searchMeta']['tagScopeNote'] %}
                                        <script src="{{ url_for('static', filename='js/highlight.js') }}"></script>
                                        <script type="text/javascript">
                                            highlight(document.getElementById('descriptionEN_{{ currentIndex }}'), '{{ scopeNote }}')
                                            highlight(document.getElementById('descriptionDE_{{ currentIndex }}'), '{{ scopeNote }}')
                                        </script>
                                    {% endfor %}
                                {% endif %}
                                <p class="meta_second_column" lang="en">{{ searchMetasEN }}</p>
                                <p class="meta_second_column" lang="de">{{ searchMetasDE }}</p>
                            {% endif %}

                        </div>
                    </div>
                 </div>
            {% endfor %}

        {% elif query %} <!-- None found or no search (if query is None) -->
            <div class="none_found">
                <h5 lang="en" class="none_found_header">Your search - <b>{{ query }}</b> - did not match any OpenStreetMap tags. </h5>
                <h5 lang="de" class="none_found_header">Es wurden keine mit Ihrer Suchanfrage - <b>{{ query }}</b> - übereinstimmende OpenStreetMap Tags gefunden.</h5>
                <h5 lang="en" class="suggestion_header">Suggestions:</h5>
                <h5 lang="de" class="suggestion_header">Vorschläge:</h5>
                <ul id="suggestion_list">
                    <li lang="en">Make sure that all words are spelled correctly.</li>
                    <li lang="en">Try different keywords.</li>
                    <li lang="en">Try more general keywords.</li>
                    <li lang="de">Achten Sie darauf, dass alle Wörter richtig geschrieben sind.</li>
                    <li lang="de">Probieren Sie es mit anderen Suchbegriffen.</li>
                    <li lang="de">Probieren Sie es mit allgemeineren Suchbegriffen.</li>
                </ul>
            </div>
        {% endif %}

        <div id="push"></div>

    </div>

    {% block bgfooter %}
        {{super()}}
    {% endblock %}

{% endblock %}