.jumbotron {
  padding-top: 5px;
  padding-bottom: 55px;
  margin-bottom: 18px;
  /*background-color: rgb(223, 240, 216)*/
}

h3 {
    margin-top: 40px
}

#first_line_en {
    margin-top: 10px
}

#first_line_de {
    margin-top: 10px
}

a {
    font-size: 20px;
}
