.jumbotron {
  padding-top: 5px;
  padding-bottom: 55px;
  margin-bottom: 18px;
  background-color: rgb(223, 240, 216)
}

#tag_panel {
    margin-top: 0px;
    margin-left: 18px;
    margin-right: 15px;
    margin-bottom: 60px;
}

#tag_body {
    margin-left: 11px;
    margin-right: 15px;
}

#tagstats_box {
    margin-top: 9px;
    margin-left: 10px;
    min-height:160px;
    height:160px;
    min-width:auto;
    width:auto;
    float: right;
}

#tagstats_text {
    float: left;
}

#tagstats_box td {
    padding: 4px;
    color: black;
    font-size: 15px;
}

#tagstats_box table td:last-child {
  border-left: 10;
  text-align: right;
  border-left:solid 10px transparent;
}

.maintag_header {
    font-size: 20px;
}

a:link {
    text-decoration: none
}

#no_depiction_tag {
    margin-top: 9px;
    min-height:160px;
    height:160px;
    min-width:210px;
    width:210px;
    margin-right: 0px;
    margin-left: 10px;
    float: right;
}

#no_depiction_key {
    margin-top: 9px;
    min-height:160px;
    height:160px;
    min-width:210px;
    width:210px;
    margin-right: 0px;
    margin-left: 10px;
    float: right;
}

#depiction {
    margin-top: 9px;
    min-height:160px;
    height:160px;
    min-width:210px;
    width:210px;
    margin-right: 0px;
    margin-left: 10px;
    float: right;
}

#tag_content {
    padding-left: 0px;
}

#tag_content > h5 {
    margin-top: 0px;
    margin-bottom: 5px;
    line-height: 1.5em
    color: black;
    font-size: 17px;
}

#tag_content a:link {
    margin-top: 0px;
    margin-bottom: 5px;
    line-height: 1.4em
    color: black;
    font-size: 17px;
}

#tag_content table td.first_column {
    vertical-align: top;
    text-align: left;
    margin-bottom: 5px;
    font-size: 17px;
}

#tag_content table td.second_column {
    border-left: 10;
    border-left:solid 10px transparent;
    vertical-align: bottom;
    margin-bottom: 5px;
    font-size: 17px;
}



.found {
    font-size: 16px;
    margin-left: 15px;
    margin-bottom: 40px;
}

.none_found {
    font-size: 16px;
    margin-left: 15px;
}

.suggestion_header {
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 6px;
}

#suggestion_list {
    padding-left: 13px;
    margin-left: 15px;
}


