.jumbotron {
  padding-top: 5px;
  padding-bottom: 55px;
  margin-bottom: 18px;
  background-color: rgb(223, 240, 216)
}

#tag_panel {
    margin-top: 0px;
    margin-left: 18px;
    margin-right: 15px;
    margin-bottom: 60px;
}

#tag_body {
    margin-left: 11px;
    margin-right: 15px;
}

#depic_stats {
    margin-top: 4px;
    margin-left: 0px;
    margin-bottom: 11px;
    margin-right: 4px;
    padding-left: 10px;
    padding-right: 0px;
    min-height: 160px;
    height: 160px;
    min-width:auto;
    width:auto;
    float: right;
}

#tagstats_box {
    min-height: 160px;
    height: 160px;
    min-width:auto;
    width:auto;
    float: right;
}

#tagstats_text {
    float: left;
}

#tagstats_box td {
    padding: 4px;
    color: black;
    font-size: 15px;
}

#tagstats_box table td:last-child {
  border-left: 10;
  text-align: right;
  border-left:solid 10px transparent;
}


#no_depiction_tag {
    min-height:160px;
    height:160px;
    min-width:210px;
    width:210px;
    margin-top: 0px;
    margin-left: 10px;
    float: right;
    margin-bottom: 0px;
}

#no_depiction_key {
    min-height:160px;
    height:160px;
    min-width:210px;
    width:210px;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 0px;
    margin-bottom: 0px;
    float: right;
}

#depiction {
    margin-top: 9px;
    min-height:160px;
    height:160px;
    min-width:210px;
    width:210px;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 0px;
    margin-bottom: 0px;
    float: right;
}

.maintag_label {
    font-size: 20px;
}

a:link {
    text-decoration: none
}


#tag_content {
    margin-top: 10px;
    padding-left: 0px;
}

#tag_content table td.first_column {
    vertical-align: top;
    text-align: left;
    white-space: nowrap;
    font-size: 15px;
    padding-bottom: 5px;
}

#tag_content table td.second_column {
    border-left: 10;
    border-left:solid 10px transparent;
    vertical-align: top;
    font-size: 15px;
    padding-bottom: 5px;
}



.found {
    font-size: 16px;
    margin-left: 15px;
    margin-bottom: 40px;
}

.none_found {
    font-size: 16px;
    margin-left: 15px;
}

.suggestion_header {
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 6px;
}

#suggestion_list {
    padding-left: 13px;
    margin-left: 15px;
}


