 @media (max-width: 767px) {
    #main_search_bar {
        margin-top: 54px;
        margin-left: 35px;
        margin-right: 35px;
        min-width: 100px;
    }

    .background-footer, .background-header, #nav_footer {
        display: none;
    }

    .jumbotron {
        margin-left: -75px;
        display: none;
        min-width: 340px;
        border-radius: 5px;
        padding-top: 5px;
        padding-bottom: 55px;
        margin-top: 50px;
        margin-bottom: 18px;
        background-color: rgb(223, 240, 216)
    }

    #navbarsearch-ingroup {
        margin-top: 3px;
        margin-right: 64px;
        text-align: center;
    }

    #navbarsearch  {
        width: 195px;
    }

}

#page_content {
    margin-left: auto;
    margin-right: auto;
    max-width: 63%;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

#main_search_ingroup {
    margin-top: 54px;
    margin-left: 35px;
    margin-right: 35px;
    min-width: 200px;
}

#btn_main_search_en, #btn_main_search_de {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

hr {
    margin-bottom: 1px;
    margin-top: 1px;
}

.search_result {
    min-width: 600pt;
    padding-left: 110pt;
    margin-top: 0px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.search_result p {
    padding-bottom: 0px;
    margin: 0px;
    line-height: 1.5em;
    margin-right: 0px;
    padding-right: 0px;
}

.search_result h3 {
    /*font-weight: bold;*/
    text-indent: -110pt;
    font-size: 20px;
    margin-bottom: 5px;
}

.meta_first_column {
    position: absolute;
    text-indent: -110pt;
    font-weight: bold;
    color: #006621;
}

.meta_second_column {
    color: #006621;
    margin-bottom: 5px;
}

.first_column {
    position: absolute;
    text-indent: -110pt;
    font-weight: bold;
}

.second_column {

}

.depic_stats {
    margin-top: 4px;
    margin-left: 0px;
    margin-bottom: 10px;
    margin-right: 4px;
    padding-left: 10px;
    padding-right: 0px;
    min-height: 160px;
    height: 160px;
    min-width:auto;
    width:auto;
    float: right;
}

#tagstats_box {
    min-height: 160px;
    height: 160px;
    min-width:auto;
    width:auto;
    float: right;
    margin-bottom: 0px;
}

#tagstats_text {
    float: left;
}

#tagstats_box td {
    padding: 4px;
    color: black;
    font-size: 15px;
}

#tagstats_box table td:last-child {
    border-left: 10;
    text-align: right;
    border-left:solid 10px transparent;
}

#depiction, #no_depiction_key, #no_depiction_tag  {
    min-height:160px;
    height:160px;
    min-width:210px;
    width:210px;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 0px;
    margin-bottom: 0px;
    float: right;
}

.image {
    border-radius: 3px;
}

a:link {
    text-decoration: none
}

.found {
    font-size: 16px;
    margin-top: 160px;
    margin-left: 15px;
    margin-bottom: 20px;
}

.none_found {
    margin-left: auto;
    margin-right: auto;
    min-width: 825px;
    max-width: 825px;
}

.none_found_header {
    margin-top: 30px;
    margin-left: 10px;
    font-size: 16px;
}

.suggestion_header {
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 6px;
}

#suggestion_list {
    padding-left: 13px;
    margin-left: 10px;
}

#nav_footer {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#nav_footer > p {
    padding-top: 5px;
    text-align: center;
    font-size: 0.9em;
}

#logo_hsr {
    margin-right: 20px;
}

#logo_taginfo {
    margin-right: 20px;
}

#logo_osm {
    margin-right: 20px;
}



