astroid==1.4.5
backports-abc==0.4
backports.ssl-match-hostname==3.5.0.1
certifi==2016.2.28
chardet==2.3.0
colorama==0.3.7
decorator==4.0.9
dominate==2.2.0
Flask==0.10.1
Flask-Bootstrap==3.3.5.7
Flask-Cors==2.1.2
Flask-SQLAlchemy==2.1
futures==3.0.5
goslate==1.5.1
html5lib==0.9999999
isodate==0.5.4
itsdangerous==0.24
Jinja2==2.8
keepalive==0.5
lazy-object-proxy==1.2.2
linecache2==1.0.0
logilab-common==1.2.0
MarkupSafe==0.23
ordered-set==2.0.1
pygeoip==0.3.2
pyparsing==2.1.1
six==1.10.0
SQLAlchemy==1.0.12
visitor==0.1.2
Werkzeug==0.11.9
wrapt==1.10.8
