<!DOCTYPE html>
<html lang="{{ lang }}">
{% extends "bootstrap/base.html" %}
{% set navigation_bar = [
    ( '/', 'search', 'TagFinder'),
    ( '/apidoc', 'api', 'API'),
    ( '/about', 'about', 'About')
] -%}
{% set active_page = active_page|default('search') -%}
{% block head %}
    <title>OSM TagFinder{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}">
    <!-- Custom styles for this template -->
    {{super()}}
    <link id="navbarstyle" href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
    {% set url = "static/css/lang_" + lang + ".css" %}
    <link id="langstyle" href="{{ url }}" rel="stylesheet">
    <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="OSM TagFinder" />
{% endblock %}


{% block metas %}
    {{super()}} <!-- also loads bootstrap and jQuery -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="OSM TagFinder">
    <meta name="keywords" content="OpenStreetMap, OSM, TagFinder, Search, Tag, Key, Value">
    <meta name="author" content="Simon Gwerder">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="Cache-control" content="public; max-age=43200">
{% endblock %}

{% block scripts %}
    {{super()}}
    <script src="{{ url_for('static', filename='js/bootstrap3-typeahead.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/typeahead-noselect.js') }}"></script>
    <script src="{{ url_for('static', filename='js/language.js') }}"></script>
    <script src="{{ url_for('static', filename='js/searchfade.js') }}"></script>
    <script src="{{ url_for('static', filename='js/typeaheadCorrect.js') }}"></script>

    <script type="text/javascript">

        $(document).ready(function() {
            searchfade({{ results|count }}, '{{ query }}');
            $.getScript( "{{ url_for('static', filename='js/typeahead-noselect.js') }}"); /* loads and executes selection fix */
            typeaheadCorrect('#mainsearch_de', '{{ query }}');
            typeaheadCorrect('#mainsearch_en', '{{ query }}');
            typeaheadCorrect('#navbarsearch', '{{ query }}');
            /*getLanguage(function(data) {
                window.lang = data;
            });*/
        });

        $(window).resize(function() {
            searchfade({{ results|count }}, '{{ query }}');
        });

        $('#mainsearch_de').on('focus', function(e) {
            e.preventDefault();
            e.stopPropagation();
            window.scrollTo(0,-100); //the second 0 marks the Y scroll pos. Setting this to i.e. 100 will push the screen up by 100px.
        });

        $('#mainsearch_en').on('focus', function(e) {
            e.preventDefault();
            e.stopPropagation();
            window.scrollTo(0,0-100); //the second 0 marks the Y scroll pos. Setting this to i.e. 100 will push the screen up by 100px.
        });

    </script>

{% endblock %}

{% block navbar %}
    <div class="container">
        <div class ="row">
            <div class="col-lg-20 col-md-20">
                <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"> <!-- navbar navbar-inverse navbar-fixed-top -->
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/">
                                 <img width="35" style="max-width:100px; margin-top: -6px;" src="{{ url_for('static', filename='img/logo_tf_128.png') }}">
                            </a>
                        </div>
                        <div class="collapse navbar-collapse" id="top-navbar-collapse"><!-- grouping for better mobile display -->
                            <ul class="nav navbar-nav">
                                {% for href, id, caption in navigation_bar %}
                                    {% if id == active_page %}
                                        <li class="active"><a href="{{ href|e }}">{{ caption|e }}</a></li>
                                    {% else %}
                                        <li><a href="{{ href|e }}">{{ caption|e }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>

                            <ul class="nav navbar-nav navbar-right" lang="en"> <!-- english dropdown -->
                                <li class="dropdown">
                                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                    <img width="16" style="max-width:16px; margin-top: -2px; margin-right: 3px;" src="{{ url_for('static', filename='img/en.png') }}">
                                    English <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li><a href="javascript:;" onclick="setLanguage('de', '{{ url_for('static', filename='css/lang_de.css') }}')">
                                        <img width="16" style="max-width:16px; margin-top: -2px; margin-right: 3px" src="{{ url_for('static', filename='img/de.png') }}">
                                        Deutsch
                                        </a></li>
                                    </ul>
                                </li>
                            </ul>

                            <ul class="nav navbar-nav navbar-right" lang="de"> <!-- german dropdown -->
                                <li class="dropdown">
                                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                    <img width="16" style="max-width:16px; margin-top: -2px; margin-right: 3px;" src="{{ url_for('static', filename='img/de.png') }}">
                                    Deutsch <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li><a href="javascript:;" onclick="setLanguage('en', '{{ url_for('static', filename='css/lang_en.css') }}')">
                                        <img width="16" style="max-width:16px; margin-top: -2px; margin-right: 3px" src="{{ url_for('static', filename='img/en.png') }}">
                                        English
                                        </a></li>
                                    </ul>
                                </li>
                            </ul>
                            <form class="navbar-form navbar-left" role="search" action="/search" method="get"> <!-- navbar search -->
                                <div id="navbarsearch-ingroup" class="input-group input-group-sm">
                                    <input id="navbarsearch" type="search" value="{{ query }}" name="query" class="form-control" autocomplete="off">
                                    <input class="search-lang-param" type="hidden" name="lang" value="{{ lang }}"/>
                                    <span class="input-group-btn">
                                        <button id="btn_navbar" class="btn btn-success" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                    </span>
                                </div>
                            </form>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>
            </div>
        </div>
    </div><!-- /.container -->

{% endblock %}

{% block bgheader %}
    <div class="background-header"></div>
{% endblock %}

{% block bgfooter %}
    <div class="background-footer"></div>
    <!-- copyright footer -->

    <div id="nav_footer" class="navbar navbar-default navbar-fixed-bottom" role="footer">
        <p class="navbar-text">&copy; Copyright: <a href="http://opendatacommons.org/licenses/odbl" target="_tag">OBdL</a> / <a href="https://www.openstreetmap.org/copyright" target="_tag">OSM contributors</a></p>
        <p class="navbar-text">TagFinder v.2.0</p>
        <p class="navbar-text" lang="en">Data from {{ dataDate }}</p>
        <p class="navbar-text" lang="de">Daten vom {{ dataDate }}</p>
        <p class="navbar-text navbar-right" id="logo_hsr"><a href="https://www.hsr.ch/geometalab" target="_tag"><img class="image_footer" src="{{ url_for('static', filename='img/logo_hsr.png') }}" alt="hsr.ch" height="30"></a></p>
        <p class="navbar-text navbar-right" id="logo_taginfo"><a href="https://taginfo.openstreetmap.org" target="_tag"><img class="image_footer" src="{{ url_for('static', filename='img/logo_taginfo.png') }}" alt="hsr.ch" height="30"></a></p>
        <p class="navbar-text navbar-right" id="logo_osm"><a href="https://www.openstreetmap.org" target="_tag"><img class="image_footer" src="{{ url_for('static', filename='img/logo_osm.png') }}" alt="hsr.ch" height="30"></a></p>
    </div>
{% endblock %}