body {
    padding-bottom: 70px;
    min-height: 524px;
}

.background-header {
    position: fixed;
    z-index: -1;
    top: -100px;
    width:100%;
    height:250px;
    background-image: url("../img/header-bg.png");
    background-size: cover;
    -webkit-box-shadow: 0px 7px 12px 0px rgba(255, 255, 255, 0.95);
    -moz-box-shadow:    0px 7px 12px 0px rgba(255, 255, 255, 0.95);
    box-shadow:         0px 7px 12px 0px rgba(255, 255, 255, 0.95);
}

.background-header img {
    width:100%;
}

nav.navbar.navbar-inverse.navbar-fixed-top {
    z-index: 9001; /*its over 9000!!!*/
}

.background-footer {
    position: fixed;
    bottom: -100px;
    width:100%;
    height:250px;
    background-image: url("../img/footer-bg.png");
    background-size: cover;
    z-index: -1;
}

.background-footer img {
    width: 100%;
}

.highlight-tag {
    font-weight: bold;
    text-shadow: 1px 1px 0px #000;
}

.highlight-text {
    font-weight: bold;
}

.navbar {
    margin-bottom: 20px;
    font-size: 18px;
}

#navbarsearch-ingroup {
    min-width: 253px;
    max-width: 253px;
    display: none;
    margin-top: 3px;
    margin-right: 64px;
    text-align: center;
}

#navbarsearch  {
    float: left;
    width: 220px;
    max-width: 220px;
}


#btn_navbar {
    float: left;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.dropdown-menu {
    font-size: 18px;
    margin-right: 15px;
    min-width: 0px;
}

h5 {
    margin-bottom: 2px;
}

.alert-info {
    margin-top: 60px;
    text-align: center;
}


#nav_footer {
    display: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#nav_footer > p {
    padding-top: 5px;
    text-align: center;
    font-size: 0.9em;
}

#logo_hsr {
    margin-right: 20px;
}

#logo_taginfo {
    margin-right: 20px;
}

#logo_osm {
    margin-right: 20px;
}